{% extends "src/layout/main.html" %}

{% set breadcrumbs = [
    {
        'title': 'Home',
        'url': '/'
    }
] %}

{% set pageTitle = 'Articles' %}

{% block content %}
{% include "src/components/breadcrumbs.html" %}
<section class="articles page-content">
    <div class="container">
        <h1 class="h1">{{ pageTitle }}</h1>
        <div class="main">
            <div class="card">
                <div class="card__img">
                    <img src="../img/article-img-1.png" alt="">
                </div>
                <div class="info">
                    <h3 class="h3">Cyprus residence permit without intermediaries</h3>
                    <div class="tags">
                        <a href="" class="tag">Business</a>
                        <a href="" class="tag">Relocation</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__img">
                    <img src="../img/article-img-2.png" alt="">
                </div>
                <div class="info">
                    <h3 class="h3">Cyprus residence permit without intermediaries</h3>
                    <div class="tags">
                        <a href="" class="tag">Business</a>
                        <a href="" class="tag">Relocation</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__img">
                    <img src="../img/article-img-2.png" alt="">
                </div>
                <div class="info">
                    <h3 class="h3">Cyprus residence permit without intermediaries</h3>
                    <div class="tags">
                        <a href="" class="tag">Business</a>
                        <a href="" class="tag">Relocation</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="all-articles">
            <div class="all-articles__block all-articles__current-date">
                {% for i in range(0, 6) %}
                    <div class="info">
                        <h3 class="h3">Cyprus residence permit without intermediaries</h3>
                        <div class="tags">
                            <a href="" class="tag">Business</a>
                            <a href="" class="tag">Relocation</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="all-articles__block">
                <h2 class="h2 articles-date-title">05.2023</h2>
                {% for i in range(0, 6) %}
                    <div class="info">
                        <h3 class="h3">Cyprus residence permit without intermediaries</h3>
                        <div class="tags">
                            <a href="" class="tag">Business</a>
                            <a href="" class="tag">Relocation</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="all-news__load-more-btn">Load more</button>
        </div>
    </div>
</section>
{% endblock %}