{% extends "src/layout/main.html" %}

{% set breadcrumbs = [
    {
        'title': 'Home',
        'url': '/'
    },
    {
        'title': 'Section',
        'url': '../pages/company.html'
    }
] %}

{% set pageTitle = 'Content page header' %}

{% block content %}
{% include "src/components/breadcrumbs.html" %}
<section class="content-banner content-services">
    <div class="container">
        <div class="content-banner__left">
            <h1 class="h1">{{ pageTitle }}</h1>
            <div class="info">
                <p class="p date">01-06-23</p>
                <a href="#" class="p tag">Business</a>
                <a href="#" class="p tag">Relocation</a>
            </div>
        </div>
        <div class="content-banner__img">
            <img src="../img/content-page-header.png" alt="">
        </div>
    </div>
</section>
<section class="services-list">
    <div class="service-wrapper">
        <div class="container">
            <a href="#">
                <h2 class="h2">Immigration</h2>
                <img src="../img/Immigration.png" alt="Immigration">
            </a>
        </div>
    </div>
    <div class="service-wrapper">
        <div class="container">
            <a href="#">
                <h2 class="h2">Business registration</h2>
                <img src="../img/business-registration.png" alt="Immigration">
            </a>
        </div>
    </div>
    <div class="service-wrapper">
        <div class="container">
            <a href="#">
                <h2 class="h2">Property</h2>
                <img src="../img/property.png" alt="Immigration">
            </a>
        </div>
    </div>
    <div class="service-wrapper">
        <div class="container">
            <a href="#">
                <h2 class="h2">Family legal rights</h2>
                <img src="../img/family-legal-rights.png" alt="Immigration">
            </a>
        </div>
    </div>
    <div class="service-wrapper">
        <div class="container">
            <a href="#">
                <h2 class="h2">Legal investigation</h2>
                <img src="../img/legal-investigation.png" alt="Immigration">
            </a>
        </div>
    </div>
    <div class="service-wrapper">
        <div class="container">
            <a href="#">
                <h2 class="h2">Judicial representation</h2>
                <img src="../img/judicial-representation.png" alt="Immigration">
            </a>
        </div>
    </div>
    <div class="service-wrapper">
        <div class="container">
            <a href="#">
                <h2 class="h2">Corporate law</h2>
                <img src="../img/corporate-law.png" alt="Immigration">
            </a>
        </div>
    </div>
    <div class="service-wrapper">
        <div class="container">
            <a href="#">
                <h2 class="h2">Dispute Resolution</h2>
                <img src="../img/dispute-resolution.png" alt="Immigration">
            </a>
        </div>
    </div>
    <div class="service-wrapper">
        <div class="container">
            <a href="#">
                <h2 class="h2">Labor law</h2>
                <img src="../img/labor-law.png" alt="Immigration">
            </a>
        </div>
    </div>
    <div class="service-wrapper">
        <div class="container">
            <a href="#">
                <h2 class="h2">Criminal law practice</h2>
                <img src="../img/criminal-law-practice.png" alt="Immigration">
            </a>
        </div>
    </div>
</section>
<section class="content-text">
    <div class="container">
        <h2 class="h2">Title of a text paragraph describing what is all about</h2>
        <div class="text-container">
            <div class="text">
                <div class="void"></div>
                <div class="text-p">
                    <p class="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <p class="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
            </div>
            <div class="text">
                <div class="void"></div>
                <ul>
                    <li>Bullet point list looks like this</li>
                    <li>Bullet point list looks like this and this row is wider</li>
                    <li>Bullet point list looks like this and this row is also wider</li>
                </ul>
            </div>
        </div>
        <h3 class="h3 w-35">Lower level title to split text into paragraphs</h3>
        <div class="text-container">
            <div class="text">
                <div class="void"></div>
                <div class="text-p">
                    <p class="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
            </div>
            <div class="text">
                <div class="void"></div>
                <ol>
                    <li>Numbered list looks like this</li>
                    <li>Numbered list looks like this and this row is wider</li>
                    <li>Numbered list looks like this and this row is also wider</li>
                </ol>
            </div>
        </div>
        <h3 class="h3 w-35">Lower level title to split text into paragraphs</h3>
        <div class="text-container">
            <div class="text">
                <div class="void"></div>
                <div class="text-p">
                    <p class="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <p class="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
            </div>
            <div class="text">
                <div class="void"></div>
                <div class="quote">
                    <p class="p">Quote is styled like this, as my grandfather said – I’m your grandfather.</p>
                </div>
            </div>
            <div class="text">
                <div class="void"></div>
                <div class="text-p">
                    <p class="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
            </div>
            <div class="image-content">
                <img src="../img/image-desc-text.png" alt="image description text, oil canvas, 2023">
                <p class="p">image description text, oil canvas, 2023</p>
            </div>
            <div class="text">
                <div class="void"></div>
                <div class="text-p">
                    <p class="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
            </div>
            <div class="slider">
    
            </div>
            <div class="text">
                <div class="void"></div>
                <div class="text-p">
                    <p class="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <p class="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
            </div>
        </div>
        </div>
</section>
<section class="services">
    <div class="container">
        <h2 class="h2">Related services</h2>
        <div class="services__content">
            <div class="services__left-content services__content-element">
                <h3 class="h3">Immigration</h3>
                <p class="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <img src="../img/services-chess.png" alt="" class="services__content-img">
            </div>
            <div class="services__right-content">
                <div class="services__content-element">
                    <h3 class="h3">Business Registration</h3>
                    <p class="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="services__content-element">
                    <h3 class="h3">Property</h3>
                    <p class="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
        <div class="services__content">
            <div class="services__left-content">
                <ul class="services__ul">
                    <li class="services__li">Family legal rights</li>
                    <li class="services__li">Judicial representation</li>
                    <li class="services__li">Dispute Resolution</li>
                    <li class="services__li">Criminal law practice</li>
                </ul>
            </div>
            <div class="services__right-content">
                <ul class="services__ul">
                    <li class="services__li">Legal investigation</li>
                    <li class="services__li">Corporate law</li>
                    <li class="services__li">Labor law</li>
                    <li class="services__li">Legal documents templates</li>
                </ul>
            </div>
        </div>
        <img src="../img/services-chess-2.png" alt="" class="services__content-img">
    </div>
</section>
<section class="articles">
    <div class="container">
        <h2 class="h2">Related articles</h2>
        <div class="wrapper">
            <div class="main">
                <div class="card">
                    <div class="card__img">
                        <img src="../img/article-img-1.png" alt="">
                    </div>
                    <div class="info">
                        <h3 class="h3">Cyprus residence permit without intermediaries</h3>
                        <div class="tags">
                            <a href="" class="tag">Business</a>
                            <a href="" class="tag">Relocation</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card__img">
                        <img src="../img/article-img-2.png" alt="">
                    </div>
                    <div class="info">
                        <h3 class="h3">Cyprus residence permit without intermediaries</h3>
                        <div class="tags">
                            <a href="" class="tag">Business</a>
                            <a href="" class="tag">Relocation</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spoiler">
                {% for i in range(0, 3) %}
                <div class="info">
                    <h3 class="h3">Cyprus residence permit without intermediaries</h3>
                    <div class="tags">
                        <a href="" class="tag">Business</a>
                        <a href="" class="tag">Relocation</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <a href="#" class="articles__more-link">All articles</a>
    </div>
</section>
<section class="news">
    <div class="container">
        <h2 class="h2">Related news</h2>
        <div class="wrapper">
            <div class="main">
                <div class="card">
                    <div class="card__img">
                        <img src="../img/news-img-1.png" alt="">
                    </div>
                    <div class="info">
                        <h3 class="h3">Cyprus residence permit without intermediaries</h3>
                        <div class="date-container">
                            <a href="" class="date">01-06-23</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card__img">
                        <img src="../img/news-img-2.png" alt="">
                    </div>
                    <div class="info">
                        <h3 class="h3">Cyprus residence permit without intermediaries</h3>
                        <div class="date-container">
                            <a href="" class="date">01-06-23</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spoiler">
                {% for i in range(0, 3) %}
                <div class="info">
                    <h3 class="h3">Cyprus residence permit without intermediaries</h3>
                    <div class="date-container">
                        <a href="" class="date">01-06-23</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="need-help">
    <div class="container">
        <div class="need-help__text">
            <h2 class="h2">Need help with our service?</h2>
            <p class="p">Send us a message and our managers will help to make right decision ASAP</p>
            <img src="" alt="">
        </div>
        <form action="" class="form ">
            <div class="form__element">
                <input required id="form-name" type="text" name="name" class="form__input">
                <div class="input-placeholder">Name</div>       
            </div>


            <div class="form__element">
                <input required id="form-phone" type="text" name="phone" class="form__input">
                <div class="input-placeholder">Phone</div>      
            </div>


            <div class="form__element form__topic topic">
                <input type="hidden" id="form-topic">
                <div class="form__input"></div>
                <div class="input-placeholder">Topic</div>
                <ul class="topic__dropdown">
                    <li class="topic__dropdown-item">Topic one</li>
                    <li class="topic__dropdown-item">Topic two</li>
                    <li class="topic__dropdown-item">Topic three</li>
                </ul>
            </div>

            <button type="submit" class="btn--black">Send</button>

        </form>
    </div>
</section>
{% endblock %}