{% extends "src/layout/main.html" %}

{% set pageTitle = 'Family & Business Lawyers' %}

{% block content %}
    <div class="container">
        <ul style="display: flex; flex-direction: column; gap: 16px; margin: 32px 0;">
            <li><a href="../pages/articles.html">Articles</a></li>
            <li><a href="../pages/company.html">Company</a></li>
            <li><a href="../pages/contact-us.html">Contact us</a></li>
            <li><a href="../pages/content-services.html">Content Services</a></li>
            <li><a href="../pages/content.html">Content</a></li>
            <li><a href="../pages/main.html">Main</a></li>
            <li><a href="../pages/news.html">News</a></li>
            <li><a href="../pages/page-404.html">Page 404</a></li>
            <li><a href="../pages/reviews.html">Reviews</a></li>
            <li><a href="../pages/services.html">Services</a></li>
            <li><a href="../pages/templates.html">Templates</a></li>
        </ul>
    </div>
{% endblock %}