{% set title = "WhiteWIns - Family & Business Lawyers" %}
{% extends "src/layout/main.html" %}

{% block content %}
    <section class="main-banner">
        <div class="container">
            <div class="main-banner__left">
                <h1 class="h1"><span class="orange">WhiteWIns&nbsp;</span>FAMILY &amp;&nbsp;BUSINESS LAWYERS</h1>
                <p class="p">Leave us your contacts – we’ll call back ASAP</p>
            </div>
            <div class="main-banner__right">
                <form action="" class="form">
                    <div class="form__element">
                        <input id="form-name" type="text" name="name" class="form__input" placeholder="Name">        
                    </div>


                    <div class="form__element">
                        <input id="form-phone" type="text" name="phone" class="form__input" placeholder="Phone">     
                    </div>


                    <div class="form__element">
                        <input id="form-topic" type="text" name="topic" class="form__input" placeholder="Topic">    
                    </div>

                    <button type="submit" class="btn--black">Send</button>

                </form>
            </div>
            <img src="../img/main-banner-background.png" alt="" class="main-banner__background-img">
        </div>
    </section>
{% endblock %}