{% extends "src/layout/main.html" %}

{% set pageTitle = 'Family & Business Lawyers' %}

{% block content %}
    <section class="main-banner">
        <div class="container">
            <div class="main-banner__left">
                <h1 class="h1"><span class="orange">WhiteWIns</span> FAMILY BUSINESS LAWYERS</h1>
                <p class="p">Leave us your contacts – we’ll call back ASAP</p>
            </div>
            <div class="main-banner__right">
                <form action="" class="form">
                    <div class="form__element">
                        <input required id="form-name" type="text" name="name" class="form__input">
                        <div class="input-placeholder">Name</div>       
                    </div>


                    <div class="form__element">
                        <input required id="form-phone" type="text" name="phone" class="form__input">
                        <div class="input-placeholder">Phone</div>      
                    </div>


                    <div class="form__element form__topic topic">
                        <input type="hidden" id="form-topic">
                        <div class="form__input"></div>
                        <div class="input-placeholder">Topic</div>
                        <ul class="topic__dropdown">
                            <li class="topic__dropdown-item">Topic one</li>
                            <li class="topic__dropdown-item">Topic two</li>
                            <li class="topic__dropdown-item">Topic three</li>
                        </ul>
                    </div>

                    <button type="submit" class="btn--black">Send</button>

                </form>
            </div>
            <img src="../img/main-banner-background.png" alt="" class="main-banner__background-img">
        </div>
    </section>
    <section class="services">
        <div class="container">
            <h2 class="h2">Services</h2>
            <div class="services__content">
                <div class="services__left-content services__content-element">
                    <h3 class="h3">Immigration</h3>
                    <p class="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <img src="../img/services-chess.png" alt="" class="services__content-img">
                </div>
                <div class="services__right-content">
                    <div class="services__content-element">
                        <h3 class="h3">Business Registration</h3>
                        <p class="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="services__content-element">
                        <h3 class="h3">Property</h3>
                        <p class="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <div class="services__content">
                <div class="services__left-content">
                    <ul class="services__ul">
                        <li class="services__li">Family legal rights</li>
                        <li class="services__li">Judicial representation</li>
                        <li class="services__li">Dispute Resolution</li>
                        <li class="services__li">Criminal law practice</li>
                    </ul>
                </div>
                <div class="services__right-content">
                    <ul class="services__ul">
                        <li class="services__li">Legal investigation</li>
                        <li class="services__li">Corporate law</li>
                        <li class="services__li">Labor law</li>
                        <li class="services__li">Legal documents templates</li>
                    </ul>
                </div>
            </div>
            <img src="../img/services-chess-2.png" alt="" class="services__content-img">
        </div>
        <div class="we-know">
            <div class="container">
                <h2 class="h2">We know laws at Cyprus</h2>
                <p class="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>
    </section>
    <section class="articles">
        <div class="container">
            <h2 class="h2">Articles</h2>
            <div class="wrapper">
                <div class="main">
                    <a href="" class="card">
                        <div class="card__img">
                            <img src="../img/article-img-1.png" alt="">
                        </div>
                        <div class="info">
                            <h3 class="h3">Cyprus residence permit without intermediaries</h3>
                            <div class="tags">
                                <p class="tag">Business</p>
                                <p class="tag">Relocation</p>
                            </div>
                        </div>
                    </a>
                    <a href="" class="card">
                        <div class="card__img">
                            <img src="../img/article-img-2.png" alt="">
                        </div>
                        <div class="info">
                            <h3 class="h3">Cyprus residence permit without intermediaries</h3>
                            <div class="tags">
                                <p class="tag">Business</p>
                                <p class="tag">Relocation</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="spoiler">
                    {% for i in range(0, 3) %}
                    <a href="" class="info">
                        <h3 class="h3">Cyprus residence permit without intermediaries</h3>
                        <div class="tags">
                            <p class="tag">Business</p>
                            <p class="tag">Relocation</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <a href="#" class="articles__more-link">All articles</a>
        </div>
    </section>
    <section class="reviews">
        <div class="container">
            <h2 class="h2">Reviews</h2>
            <div class="reviews__wrapper">
                <div class="review">
                    <div class="review__img">
                        <img src="../img/reviewer-photo-1.jpg" alt="">
                    </div>
                    <div class="review__info">
                        <h3 class="h3">Mark Miller</h3>
                        <p class="p">Mark Miller LLC</p>
                    </div>
                    <p class="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="review">
                    <div class="review__img">
                        <img src="../img/reviewer-photo-2.jpg" alt="">
                    </div>
                    <div class="review__info">
                        <h3 class="h3">Katherine Meirou</h3>
                        <p class="p">BuildItBig limited</p>
                    </div>
                    <p class="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <a href="#" class="reviews__more-link">More reviews</a>
        </div>
    </section>
    <section class="about">
        <div class="container">
            <div class="about__left">
                <h2 class="h2">About WhiteWins</h2>
                <img src="../img/about-img.png" alt="" class="about__img">
            </div>
            <p class="about__right p">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>
    </section>
    <section class="news">
        <div class="container">
            <h2 class="h2">News</h2>
            <div class="wrapper">
                <div class="main">
                    <a href="" class="card">
                        <div class="card__img">
                            <img src="../img/news-img-1.png" alt="">
                        </div>
                        <div class="info">
                            <h3 class="h3">Cyprus residence permit without intermediaries</h3>
                            <div class="date-container">
                                <p class="date">01-06-23</p>
                            </div>
                        </div>
                    </a>
                    <a href="" class="card">
                        <div class="card__img">
                            <img src="../img/news-img-2.png" alt="">
                        </div>
                        <div class="info">
                            <h3 class="h3">Cyprus residence permit without intermediaries</h3>
                            <div class="date-container">
                                <p class="date">01-06-23</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="spoiler">
                    {% for i in range(0, 3) %}
                    <a href="" class="info">
                        <h3 class="h3">Cyprus residence permit without intermediaries</h3>
                        <div class="date-container">
                            <p class="date">01-06-23</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <a href="#" class="articles__more-link">More news</a>
        </div>
    </section>
{% endblock %}