{% extends "src/layout/main.html" %}

{% set breadcrumbs = [
    {
        'title': 'Home',
        'url': '/'
    }
] %}

{% set pageTitle = 'News' %}

{% block content %}
{% include "src/components/breadcrumbs.html" %}
<section class="news page-content">
    <div class="container">
        <h1 class="h1">News</h1>
        <div class="main">
            <div class="card">
                <div class="card__img">
                    <img src="../img/news-img-1.png" alt="">
                </div>
                <div class="info">
                    <h3 class="h3">Cyprus residence permit without intermediaries</h3>
                    <div class="date-container">
                        <a href="" class="date">01-06-23</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__img">
                    <img src="../img/news-img-2.png" alt="">
                </div>
                <div class="info">
                    <h3 class="h3">Cyprus residence permit without intermediaries</h3>
                    <div class="date-container">
                        <a href="" class="date">01-06-23</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__img">
                    <img src="../img/news-img-2.png" alt="">
                </div>
                <div class="info">
                    <h3 class="h3">Cyprus residence permit without intermediaries</h3>
                    <div class="date-container">
                        <a href="" class="date">01-06-23</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="all-news">
            <div class="all-news__block all-news__current-date">
                {% for i in range(0, 6) %}
                    <div class="info">
                        <h3 class="h3">Cyprus residence permit without intermediaries</h3>
                        <div class="date-container">
                            <a href="" class="date">01-06-23</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="all-news__block">
                <h2 class="h2 news-date-title">05.2023</h2>
                {% for i in range(0, 6) %}
                    <div class="info">
                        <h3 class="h3">Cyprus residence permit without intermediaries</h3>
                        <div class="date-container">
                            <a href="" class="date">01-05-23</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="all-news__load-more-btn">Load more</button>
        </div>
    </div>
</section>
{% endblock %}