{% extends "src/layout/main.html" %}

{% set breadcrumbs = [
    {
        'title': 'Home',
        'url': '/'
    }
] %}

{% set pageTitle = 'Services' %}

{% block content %}
{% include "src/components/breadcrumbs.html" %}
</div>
<section class="services-page page-content">
    <div class="container">
        <h1 class="h1">Services</h1>
        <div class="services__content">
            <div class="services__left-content services__content-element">
                <a href="#" class="h3">Immigration</a>
                <p class="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <img src="../img/services-chess.png" alt="" class="services__content-img">
            </div>
            <div class="services__right-content">
                <div class="services__content-element">
                    <a href="#" class="h3">Business Registration</a>
                    <p class="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="services__content-element">
                    <a href="#" class="h3">Property</a>
                    <p class="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
        <div class="services__content">
            <div class="services__left-content">
                <ul class="services__ul">
                    <li class="services__li"><a href="#">Family legal rights</a></li>
                    <li class="services__li"><a href="#">Judicial representation</a></li>
                    <li class="services__li"><a href="#">Dispute Resolution</a></li>
                    <li class="services__li"><a href="#">Criminal law practice</a></li>
                </ul>
            </div>
            <div class="services__right-content">
                <ul class="services__ul">
                    <li class="services__li"><a href="#">Legal investigation</a></li>
                    <li class="services__li"><a href="#">Corporate law</a></li>
                    <li class="services__li"><a href="#">Labor law</a></li>
                    <li class="services__li"><a href="#">Legal documents templates</a></li>
                </ul>
            </div>
            <img src="../img/services-chess-2.png" alt="" class="services__content-img">
        </div>
        
    </div>
    <div class="seo-module">
        <div class="container">
            <h2 class="h2">SEO module</h2>
            <p class="p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
    </div>
</section>
{% endblock %}