<header class="header">
    <div class="header-logo">
        <svg>
            <use href="#logo"></use>
        </svg>
    </div>
    <nav class="header-menu menu">
        <ul class="header-nav">
            <li class="menu__item"><a href="#" class="menu__item-link">Company</a></li>
            <li class="menu__item menu-item__dropdown">
                <a href="#" class="menu__item-link">Services</a>
                <ul class="menu__dropdown">
                    <div class="menu__dropdown-top">
                        <li class="menu__dropdown-element"><a href="" class="menu__item-link">Immigration and Citizenship</a></li>
                        <li class="menu__dropdown-element"><a href="" class="menu__item-link">Business Registration</a></li>
                        <li class="menu__dropdown-element"><a href="" class="menu__item-link">Property</a></li>
                    </div>
                    <div class="menu__dropdown-post">
                        <li class="menu__dropdown-element"><a href="" class="menu__item-link">Family legal rights</a></li>
                        <li class="menu__dropdown-element"><a href="" class="menu__item-link">Judicial representation</a></li>
                        <li class="menu__dropdown-element"><a href="" class="menu__item-link">Dispute Resolution</a></li>
                        <li class="menu__dropdown-element"><a href="" class="menu__item-link">Criminal law practice</a></li>
                        <li class="menu__dropdown-element"><a href="" class="menu__item-link">Legal investigation</a></li>
                        <li class="menu__dropdown-element"><a href="" class="menu__item-link">Corporate law</a></li>
                        <li class="menu__dropdown-element"><a href="" class="menu__item-link">Labor law</a></li>
                        <li class="menu__dropdown-element"><a href="" class="menu__item-link">Legal documents templates</a></li>
                    </div>
                </ul>
            </li>
            <li class="menu__item"><a href="#" class="menu__item-link">Articles</a></li>
            <li class="menu__item"><a href="#" class="menu__item-link">Reviews</a></li>
            <li class="menu__item"><a href="#" class="menu__item-link">Contacts</a></li>
        </ul>
    </nav>
    <div class="contacts">
        <div class="contacts__social-links">
            <a href="#">
                <svg>
                    <use href="#facebook"></use>
                </svg>
            </a>
            <a href="#">
                <svg>
                    <use href="#instagram"></use>
                </svg>
            </a>
            <a href="#">
                <svg>
                    <use href="#whatsapp"></use>
                </svg>
            </a>
            <a href="#">
                <svg>
                    <use href="#telegram"></use>
                </svg>
            </a>
        </div>
        <a class="contacts__phone" href="tel:+35796110100">+357 96 110 100</a>
        <div class="switch-language">
            <ul class="switch-language__dropdown">
                <li class="switch-language__dropdown-element">En</li>
                <li class="switch-language__dropdown-element">Gr</li>
            </ul>
            <button class="switch-language__btn">
                <svg>
                    <use href="#arrow-down"></use>
                </svg>
                <p>Ru</p>
            </button>
        </div>
    </div>
</header>