@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

* {
	padding: 0px;
	margin: 0px;
	border: none;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */
a, a:link, a:visited  {
    text-decoration: none;
}
a:hover  {
    text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
	display: block;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}
ul, ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
img, svg {
	max-width: 100%;
	height: auto;
}
address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}
input::-ms-clear {
	display: none;
}
button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}
input:focus, input:active,
button:focus, button:active {
    outline: none;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
label {
	cursor: pointer;
}
legend {
	display: block;
}

/* Variables*/
$black: #000000;
$white: #FFFFFF;
$accent-orange: #F37420;
$darker-biege: #AEC0C3;
$light-biege: #F4FAFB;
$mouse-gray-alt: #EEF5F6;
$base-text: #637073;
$background: #EDF6F8;

/* Variables end*/

.h1, .h2, .h3, .p, .p-bold, .p-small-text, li{
    color: $black;
    font-family: Manrope;
    font-style: normal;
    .orange{
        color: $accent-orange;
    }
}

.h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.h2{
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
}

.h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.p, li{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.p-bold{
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}

.p-small-text{
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}


@mixin btn-style{
    font-family: 'Manrope';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    border-radius: 8px;
    padding: 16px 24px;
    transition: .25s;
}

.btn--black{
    @include btn-style;
    color: $white;

    background: $black;
    &:hover{
        background-color: $accent-orange;
    }
    &:active{
        background-color: $accent-orange;
        color: $black;
    }
    &:disabled{
        background: $darker-biege;
        color: $mouse-gray-alt;
    }
}

.btn--white{
    @include btn-style;
    
    background: $white;
    &:hover{
        background: $white;
        color: $accent-orange;
    }
    &:active{
        background: $light-biege;
        color: $black;
    }
    &:disabled{
        background: $background;
        color: $darker-biege;
    }
}

.btn--stroke{
    @include btn-style;
    
    background: none;
    border: 1px solid $black;
    &:hover{
        border: 1px solid $accent-orange;
        color: $accent-orange;
    }
    &:active{
        border: 1px solid $accent-orange;
        color: $black;
    }
    &:disabled{
        background: $mouse-gray-alt;
        color: $mouse-gray-alt;
    }
}

.menu__item-link, a{
    font-family: 'Manrope';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: $base-text;
    transition: .15s;

    &:hover{
        transition: .15s;
        color: $accent-orange;
    }
}

.menu-item__dropdown {
    > .menu__item-link{
        position: relative;

        &::before{
            content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228%22%20height%3D%228%22%20viewBox%3D%220%200%208%208%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M8%203.43333V4.56667H4.56667V8H3.43333V4.56667H0V3.43333H3.43333V0H4.56667V3.43333H8Z%22%20fill%3D%22%23637073%22%2F%3E%0A%3C%2Fsvg%3E');
            position: absolute;
            left: -12px;
            top: 50%;
            transform: translateY(-55%);
        }
    }
}

// header
.header + section{
    padding: 64px;
}
.header{
    position: fixed;
    width: 100%;
    z-index: 1001;
    &__dropdown--active .header__dropdown{
        transform: translateY(0);
    }
    &__dropdown{
        position: absolute;
        background: $accent-orange;
        width: 100vw;
        top: 100%;
        padding: 36px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        transition: 1.25s;
        z-index: -1;
        transform-origin: 0% 0%;
        transform: translateY(-100%);

        &-top, &-post{
            display: flex;
            align-items: center;
            gap: 24px;
            a{
                color: $white;
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                &:hover{
                    color: $darker-biege;
                }
            }
        }
        &-top {
            a{
                font-weight: 600;
            }
        }
    }

    &__container{
        display: flex;
        justify-content: space-between;
        padding: 16px 24px;
        background: $white;
        width: 100%;
        .burger-btn{
            display: none;
        }
    }

    .header-logo svg{
        width: 53px;
        height: 32px;
    }
    .menu{
        display: flex;
        align-items: center;

        .header-nav{
            display: flex;
            align-items: center;
            gap: 24px;
        }

        &-item__dropdown{
            margin-left: 12px;
        }
    }
    .contacts{
        display: flex;
        align-items: center;
        gap: 36px;

        &__social-links{
            display: flex;
            gap: 16px;
            align-items: center;
            a{
                width: 24px;
                height: 24px;
                svg{
                    path{
                        transition: .25s;
                    }
                }
                &:hover{
                    svg{
                        path{
                            fill: $accent-orange;
                        }
                    }
                }
            }

        }
        &__phone{

        }
    }
    .switch-language{
        
        position: relative;
        z-index: 1;
        svg{
            width: 8px;
            height: 8px;
            transform: translateY(2px);
        }
        &__btn{
            font-family: Manrope;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            border-radius: 14px;
            background: $accent-orange;
            color: $white;
            padding: 0 8px;
            transition: .25s;

            svg{
                transform: scaleY(1);
                transition: .25s;
            }
        }
        &__dropdown{
            position: absolute;
            background: $white;
            z-index: -1;
            width: 100%;
            min-height: calc(84px - 50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            top: 50%;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            transform-origin: 0% 0%;
            transform: scaleY(0);
            transition: .25s;

            &--active{
                transform: scaleY(1);
            }
            &--active + .switch-language__btn > svg{
                transform: scale(-1);
            }

            &-element{
                color: $black;
                text-align: center;
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px; 
                transition: .25s;

                &:hover{
                    color: $accent-orange;
                    cursor: pointer;
                }
            }
        }

    }

    .contacts__social-links svg{
        width: 24px;
        height: 24px;
    }
    .backdrop{
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -2;
        display: none;

        &--active{
            display: block;
        }
    }
    .mobile-menu{
        display: none;
    }
}
@media (max-width: 1024.333333px) {
    .header{
        .header-menu{
            display: none;
        }
        .header__dropdown{
            display: none;
        }
        .header__container{
            align-items: center;
            .burger-btn{
                display: flex;
                flex-direction: column;
                width: 24px;
                gap: 4px;
                padding: 2px;
                cursor: pointer;
                
                &__line{
                    width: 100%;
                    height: 1.5px;
                    border-radius: 3px;
                    background: $black;
                }
            }
        }
        .mobile-menu{
            width: 100%;
            height: 100vh;
            position: fixed;
            background: $white;
            display: block;
            transform: translateY(-100vh);
            transition: .25s ease-in-out;
            z-index: -1;
            overflow: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar{
                display: none;
            }
            .header-nav{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 24px;
                padding: 24px 0;
                .menu__item{
                    width: 100%;
                    text-align: center;
                }
                .menu-item__dropdown{
                    margin: 0;
                }
                .mobile-dropdown{
                    width: 100%;
                    background: $accent-orange;
                    padding: 24px;
                    margin-top: 24px;
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    transform-origin: 0% 0%;
                    transform: scaleY(0);
                    max-height: 0;
                    transition: .25s;
                    margin-top: 0;
                    padding: 0;
                    
                    .header__dropdown-top, .header__dropdown-post{
                        display: flex;
                        flex-direction: column;
                    }
                }
                .menu__item.mobile-dropdown--active > .mobile-dropdown{
                    max-height: 1000px;
                    transform: scaleY(1);
                    padding: 24px;
                    margin-top: 24px;
                }
            }
        }
    }
    .mobile-menu--active{
        .mobile-menu{
            transform: translateY(0);
        }
    }
}


//main
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 64px;
    @media (max-width: 1024.33333px) {
        padding: 64px 32px;
    }
}
@media (max-width: 1024.3333333px) {
    .container{
        max-width: 768px;
    }
}
.main-banner{
    &__right{
        width: calc(34% - 32px);
        @media (max-width: 1024.333333px) {
            width: 50%;
        }
    }
    &__left{
        .h1{
            width: 70%;
            margin-bottom: 42px;
        }
    }
    .container{
        height: 640px;
        display: flex;
        gap: 32px;
        align-items: center;
        position: relative;
        @media (max-width: 1024.33333px) {
            flex-direction: column;
            align-items: start;
        }

        .form{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 20px;

            &__element{
                width: 100%;
                position: relative;

                .input-placeholder{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 8px;
                    font-family: Manrope;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.75rem;
                    color: $base-text;
                    user-select: none;
                    display: none;
                }
            }
            &__input{
                border-bottom: 1px solid $darker-biege;
                width: 100%;
                height: 44px;
                padding-left: 8px;
            }
            &__input:invalid + .input-placeholder{
                display: block;
            }
            &__topic{
                user-select: none;
                cursor: pointer;

                .topic__dropdown{
                    position: absolute;
                    width: 100%;
                    background: $light-biege;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 5px;
                    transition: .25s;
                    transform-origin: 0% 0%;
                    transform: scaleY(0);

                    &-item{
                        font-family: Manrope;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.75rem;
                        color: $base-text;
                        padding: 5px;
                        &:hover{
                            background: $darker-biege;
                        }
                    }
                }
                .input-placeholder{
                    display: block;
                }

                &::after{
                    position: absolute;
                    content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%224%22%20height%3D%224%22%20viewBox%3D%220%200%204%204%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M4%204V0L0%204H4Z%22%20fill%3D%22%23AEC0C4%22%2F%3E%0A%3C%2Fsvg%3E');
                    bottom: 0;
                    right: 0;
                }
            }
            .topic__dropdown--active .topic__dropdown{
                transform: scaleY(1);
            }
        }
    }
    &__background-img{
        position: absolute;
        z-index: -1;
        left: 170px;
    }
}

.services{
    @media (max-width: 1024.33333px) {
        display: flex;
        flex-direction: column-reverse;
    }
    .h2{
        margin-bottom: 32px;
    }
    .container{
        position: relative;
        > .services__content-img{
            position: absolute;
            right: 64px;
            bottom: 0;
        }
    }
    &__content{
        display: flex;
        gap: 32px;
        margin-bottom: 52px;
        @media (max-width: 1024.33333px) {
            flex-direction: column;
        }
        &-element{
            overflow: hidden;
            position: relative;
            border-radius: 8px;
            background: $background;
            padding: 24px 36px;
        }
        &-img{
            position: absolute;
            right: 0;
            bottom: 0;
            @media (max-width: 1024.33333px) {
                
            }
        }
        .h3{
            margin-bottom: 8px;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: $accent-orange;
                top: 50%;
                transform: translateY(-50%);
                left: -42px;
            }
        }
    }
    &__content + &__content{
        margin-bottom: 0;
        @media (max-width: 1024.33333px) {
            flex-direction: row;
            .services__left-content{
                padding-bottom: 0;
                position: relative;
            }
            &-img{
                z-index: -1;
            }
        }
    }
    &__left-content{
        width: calc(50% - 32px);
        @media (max-width: 1024.33333px) {
            width: 100%;
            padding-bottom: 191px;
        }
    }
    &__right-content{
        width: calc(50% - 32px);
        display: flex;
        flex-direction: column;
        gap: 32px;
        @media (max-width: 1024.33333px) {
            width: 100%;
        }
        .services__content-element{
            width: 100%;
            @media (max-width: 1024.33333px) {
                .p{
                    max-width: 450px;
                }
            }
        }
    }
    &__ul{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &__li{
        font-weight: 600;
        color: $black;
        padding-left: 36px;
        padding-bottom: 8px;
        border-bottom: 1px solid $mouse-gray-alt;
    }
}

.we-know{
    background: $background;
    .container{
        display: flex;
        gap: 32px;
        @media (max-width: 1024.333333px) {
            flex-direction: column;
        }
        .p{
            padding-top: 20px;
            width: calc(50% - 15px);
            @media (max-width: 1024.33333px) {
                width: 100%;
            }
        }
        .h2{
            position: relative;
            display: block;
            width: calc(50% - 15px);
            @media (max-width: 1024.33333px) {
                width: 100%;
            }
            &::after{
                position: absolute;
                content: '';
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: $accent-orange;
                left: 0;
                bottom: 0;
                @media (max-width: 1024.333333px) {
                    bottom: -12px;
                }
            }
        }
    }
}

@mixin articlesAndNews{
    .h2{
        margin-bottom: 32px;
    }
    .wrapper{
        display: flex;
        gap: 32px;
        margin-bottom: 32px;
        @media (max-width: 1024.33333px) {
            flex-direction: column;
        }
    }
    .main{
        display: flex;
        gap: 32px;

        .card{
            max-width: 336px;
            .h3{
                position: relative;
                &::after{
                    position: absolute;
                    content: '';
                    width: 12px;
                    height: 12px;
                    background: $accent-orange;
                    border-radius: 50%;
                    left: 0;
                    top: calc(-36px - 6px);
                }
            }
            &__img{
                width: 336px;
                height: 180px;
                @media (max-width: 1024.33333px) {
                    width: auto;
                    height: auto;
                }
                img{
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                }
            }
        }
    }
    .info{
        background: $background;
        padding: 36px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        .h3{
            font-size: 16px;
            font-weight: 600;
            line-height: 28px;
            margin-bottom: 38px;
        }
        .tags, .date-container{
            display: flex;
            gap: 12px;
            position: relative;
            &::after{
                position: absolute;
                content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M4%204H19.892V19.892%22%20stroke%3D%22%23F37420%22%2F%3E%0A%3Cpath%20d%3D%22M19.892%203.99987L4.10804%2019.9999%22%20stroke%3D%22%23F37420%22%2F%3E%0A%3C%2Fsvg%3E');
                right: 0;
                top: 0;
            }
            .tag, .date{
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                color: $darker-biege;
            }
        }
    }
    .spoiler{
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 8px;
        @media (max-width: 1024.33333px) {
            padding: 0;
        }
        .info{
            background: none;
            padding: 0;
            padding-bottom: 8px;
            display: flex;
            flex-direction: column-reverse;
            border-bottom: 1px solid $mouse-gray-alt;
            .h3{
                margin-bottom: 0px;
            }
        }
    }
    &__more-link{
        margin-left: 12px;
        position: relative;
        &::after{
            position: absolute;
            content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228%22%20height%3D%228%22%20viewBox%3D%220%200%208%208%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M8%203.43333V4.56667H4.56667V8H3.43333V4.56667H0V3.43333H3.43333V0H4.56667V3.43333H8Z%22%20fill%3D%22%23637073%22%2F%3E%0A%3C%2Fsvg%3E');
            top: 50%;
            transform: translateY(-50%);
            left: -12px;
        }
    }
}
.news, .articles{
    @include articlesAndNews;
}

.reviews{
    background: $background;

    .h2{
        margin-bottom: 32px;
    }
    &__wrapper{
        display: flex;
        gap: 32px;
        margin-bottom: 32px;
        @media (max-width: 1024.33333px) {
            flex-direction: column;
        }

        .review{
            background: $white;
            padding: 36px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            width: calc(50% - 15px);
            border-radius: 8px;
            overflow: hidden;
            position: relative;
            @media (max-width: 1024.33333px) {
                width: 100%;
            }

            &::after{
                position: absolute;
                content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M4%204H19.892V19.892%22%20stroke%3D%22%23F37420%22%2F%3E%0A%3Cpath%20d%3D%22M19.892%203.99987L4.10804%2019.9999%22%20stroke%3D%22%23F37420%22%2F%3E%0A%3C%2Fsvg%3E');
                right: 36px;
                top: 36px;
            }
            &__img{
                img{
                    border-radius: 50%;
                    width: 64px;
                    height: 64px;
                    object-fit: cover;
                }
            }
            &__info{
                .h3{
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 28px;
                    position: relative;

                    &::after{
                        position: absolute;
                        content: '';
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background: $accent-orange;
                        top: 50%;
                        transform: translateY(-50%);
                        left: calc(-36px - 6px);
                    }
                }
                .p{
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 12px;
                    color: $darker-biege;
                }
            }
            .p{
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                color: $base-text;
            }
        }
    }
    &__more-link{
        margin-left: 12px;
        position: relative;
        &::after{
            position: absolute;
            content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228%22%20height%3D%228%22%20viewBox%3D%220%200%208%208%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M8%203.43333V4.56667H4.56667V8H3.43333V4.56667H0V3.43333H3.43333V0H4.56667V3.43333H8Z%22%20fill%3D%22%23637073%22%2F%3E%0A%3C%2Fsvg%3E');
            top: 50%;
            transform: translateY(-50%);
            left: -12px;
        }
    }
}
.about{
    .container{
        display: flex;
        gap: 32px;
        align-items: center;
        @media (max-width: 1024.33333px) {
            flex-direction: column;
        }
    }
    &__right, &__left{
        width: calc(50% - 15px);
        @media (max-width: 1024.33333px) {
            width: 100%;
        }
    }
    &__right{
        padding-top: 20px;
    }
    @media (max-width: 1024.33333px) {
        &__left{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.footer{
    .p{
        color: $base-text;
    }
    background: $darker-biege;
    .container{
        .info{
            display: flex;
            gap: 32px;
            margin-bottom: 32px;
            @media (max-width: 1024.33333px) {
                flex-direction: column;
            }
            .nav{
                width: calc(50% - 15px);
                @media (max-width: 1024.33333px) {
                    width: 100%;
                }
                display: flex;
                gap: 96px;
                &-ul{
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                }
                &-link{
                    text-decoration-line: underline;
                }
            }
        }
        .contacts{
            width: calc(50% - 15px);
            @media (max-width: 1024.33333px) {
                width: 100%;
            }
            display: flex;
            gap: 16px;
            flex-direction: column;
            &__social{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 16px;
                .social-links{
                    display: flex;
                    gap: 16px;
                    a{
                        width: 24px;
                        height: 24px;
                        svg{
                            width: 24px;
                            height: 24px;
                            path{
                                transition: .15s;
                                fill: $base-text;
                            }
                        }
                        &:hover{
                            svg{
                                path{
                                    fill: $accent-orange;
                                }
                            }
                        }
                    }    
                }
            }
            &__element{
                display: flex;
                gap: 16px;
                align-items: center;
                flex-direction: row-reverse;
                justify-content: flex-end;
                svg{
                    width: 16px;
                    height: 16px;
                }
                .p{
                    max-width: 83%;
                    @media (max-width: 1024.33333px) {
                        max-width: 65%;
                    }
                }
            }
            &__link:hover + svg{
                use{
                    stroke: $accent-orange;
                }
                
            }
        }
    }
}